n8n/workflows/crud-example.json
{
  "name": "CRUD Example - Items",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "={{ $json.method }}",
        "path": "items",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-crud",
      "name": "Webhook CRUD",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [250, 300],
      "webhookId": "crud-items"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.method }}",
              "value2": "GET"
            }
          ]
        }
      },
      "id": "if-get",
      "name": "IF GET",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 200]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.method }}",
              "value2": "POST"
            }
          ]
        }
      },
      "id": "if-post",
      "name": "IF POST",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [450, 400]
    },
    {
      "parameters": {
        "jsCode": "// Simular obtener items de una base de datos\nconst items = [\n  { id: 1, name: 'Item 1', description: 'Description 1' },\n  { id: 2, name: 'Item 2', description: 'Description 2' },\n  { id: 3, name: 'Item 3', description: 'Description 3' }\n];\n\nreturn items;"
      },
      "id": "code-get",
      "name": "Get Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 200]
    },
    {
      "parameters": {
        "jsCode": "// Simular crear un nuevo item\nconst body = $input.first().json.body;\n\nconst newItem = {\n  id: Date.now(),\n  name: body.name,\n  description: body.description,\n  createdAt: new Date().toISOString()\n};\n\nreturn { \n  success: true,\n  item: newItem \n};"
      },
      "id": "code-post",
      "name": "Create Item",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "respond-crud",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Webhook CRUD": {
      "main": [
        [
          {
            "node": "IF GET",
            "type": "main",
            "index": 0
          },
          {
            "node": "IF POST",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF GET": {
      "main": [
        [
          {
            "node": "Get Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF POST": {
      "main": [
        [
          {
            "node": "Create Item",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Items": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Item": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-20T10:00:00.000Z",
  "versionId": "1"
}

