n8n/workflows/nutridiab-admin-usuarios.json
{
  "name": "Nutridiab - Admin Usuarios",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "nutridiab/admin/usuarios",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-usuarios",
      "name": "Webhook Usuarios",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- Lista de usuarios con estadísticas\nSELECT \n  u.\"usuario ID\",\n  u.nombre,\n  u.apellido,\n  u.email,\n  u.\"remoteJid\",\n  u.edad,\n  u.peso,\n  u.altura,\n  u.objetivos,\n  u.restricciones,\n  u.rol,\n  u.\"AceptoTerminos\",\n  u.datos_completos,\n  u.email_verificado,\n  u.\"Activo\",\n  u.\"Bloqueado\",\n  u.tipo_diabetes,\n  u.created_at,\n  u.updated_at,\n  u.ultimo_acceso,\n  COUNT(c.id) as total_consultas,\n  COALESCE(SUM(c.\"Costo\"), 0) as costo_total,\n  MAX(c.created_at) as ultima_consulta\nFROM nutridiab.usuarios u\nLEFT JOIN nutridiab.\"Consultas\" c ON u.\"usuario ID\" = c.\"usuario ID\"\nGROUP BY u.\"usuario ID\", u.rol\nORDER BY u.created_at DESC\nLIMIT 100;",
        "options": {}
      },
      "id": "postgres-usuarios",
      "name": "Postgres Usuarios",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [450, 300],
      "credentials": {
        "postgres": {
          "id": "YOUR_CREDENTIAL_ID",
          "name": "Supabase - Nutridiab"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Transformar datos de Postgres al formato esperado por el frontend\nconst usuarios = [];\n\nfor (const item of $input.all()) {\n  const user = {\n    id: item.json['usuario ID'],\n    nombre: item.json.nombre || '',\n    apellido: item.json.apellido || '',\n    email: item.json.email || '',\n    remotejid: item.json.remoteJid || '',\n    telefono: item.json.remoteJid || '',\n    edad: item.json.edad || null,\n    peso: item.json.peso || null,\n    altura: item.json.altura || null,\n    objetivos: item.json.objetivos || '',\n    restricciones: item.json.restricciones || '',\n    status: item.json.Activo ? 'active' : 'inactive',\n    verified: item.json.email_verificado || false,\n    role: item.json.rol === 'administrador' ? 'admin' : 'user',\n    acepto_terminos: item.json.AceptoTerminos || false,\n    datos_completos: item.json.datos_completos || false,\n    bloqueado: item.json.Bloqueado || false,\n    tipo_diabetes: item.json.tipo_diabetes || '',\n    created_at: item.json.created_at,\n    updated_at: item.json.updated_at,\n    ultimo_acceso: item.json.ultimo_acceso,\n    total_consultas: parseInt(item.json.total_consultas) || 0,\n    costo_total: parseFloat(item.json.costo_total) || 0,\n    ultima_consulta: item.json.ultima_consulta\n  };\n  \n  usuarios.push(user);\n}\n\n// Retornar un solo objeto con el array de usuarios\n// Esto permite que el nodo Responder devuelva el array completo\nreturn [{ json: usuarios }];"
      },
      "id": "transform-data",
      "name": "Transformar Datos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems"
      },
      "id": "respond",
      "name": "Responder",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Webhook Usuarios": {
      "main": [
        [
          {
            "node": "Postgres Usuarios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Usuarios": {
      "main": [
        [
          {
            "node": "Transformar Datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transformar Datos": {
      "main": [
        [
          {
            "node": "Responder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
