n8n/workflows/supabase-generate-token.json
{
  "name": "Nutridiab - Generar Token (Supabase)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "nutridiab/generate-token",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-generate-token",
      "name": "Webhook Generate Token",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "rpc",
        "functionName": "rpc_generar_token",
        "parameters": {
          "parameters": [
            {
              "name": "p_usuario_id",
              "value": "={{ $json.usuario_id }}"
            }
          ]
        }
      },
      "id": "supabase-generar-token",
      "name": "Supabase - Generar Token",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [450, 300],
      "credentials": {
        "supabaseApi": {
          "id": "YOUR_SUPABASE_CREDENTIAL_ID",
          "name": "Supabase Nutridiab"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Obtener datos del token generado\nconst data = $input.first().json;\nconst token = data.token;\nconst expira = data.expira;\nconst frontend_url = 'https://tu-dominio-frontend.com'; // Cambiar en producción\n\nconst enlace = `${frontend_url}/registro?token=${token}`;\n\nreturn {\n  success: true,\n  token: token,\n  enlace: enlace,\n  expira: expira,\n  mensaje: `📋 Para completar tu registro, ingresa a:\\n\\n${enlace}\\n\\n⏰ Este enlace es válido por 24 horas.`\n};"
      },
      "id": "code-build-response",
      "name": "Construir Respuesta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "respond-to-webhook",
      "name": "Responder",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Webhook Generate Token": {
      "main": [
        [
          {
            "node": "Supabase - Generar Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Generar Token": {
      "main": [
        [
          {
            "node": "Construir Respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Construir Respuesta": {
      "main": [
        [
          {
            "node": "Responder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-22T00:00:00.000Z",
  "versionId": "2"
}

