n8n/workflows/supabase-validate-save.json
{
  "name": "Nutridiab - Validar y Guardar (Supabase)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "nutridiab/validate-and-save",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-validate",
      "name": "Webhook Validar Token",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "rpc",
        "functionName": "rpc_validar_token",
        "parameters": {
          "parameters": [
            {
              "name": "p_token",
              "value": "={{ $json.body.token }}"
            }
          ]
        }
      },
      "id": "supabase-validar-token",
      "name": "Supabase - Validar Token",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [450, 300],
      "credentials": {
        "supabaseApi": {
          "id": "YOUR_SUPABASE_CREDENTIAL_ID",
          "name": "Supabase Nutridiab"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.valido }}",
              "value2": true
            }
          ]
        }
      },
      "id": "if-token-valid",
      "name": "¿Token válido?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "operation": "rpc",
        "functionName": "rpc_actualizar_usuario",
        "parameters": {
          "parameters": [
            {
              "name": "p_usuario_id",
              "value": "={{ $('Supabase - Validar Token').item.json.usuario_id }}"
            },
            {
              "name": "p_nombre",
              "value": "={{ $('Webhook Validar Token').item.json.body.nombre }}"
            },
            {
              "name": "p_apellido",
              "value": "={{ $('Webhook Validar Token').item.json.body.apellido }}"
            },
            {
              "name": "p_email",
              "value": "={{ $('Webhook Validar Token').item.json.body.email }}"
            },
            {
              "name": "p_telefono",
              "value": "={{ $('Webhook Validar Token').item.json.body.telefono }}"
            },
            {
              "name": "p_fecha_nacimiento",
              "value": "={{ $('Webhook Validar Token').item.json.body.fecha_nacimiento }}"
            },
            {
              "name": "p_tipo_diabetes",
              "value": "={{ $('Webhook Validar Token').item.json.body.tipo_diabetes }}"
            },
            {
              "name": "p_anios_diagnostico",
              "value": "={{ $('Webhook Validar Token').item.json.body.anios_diagnostico }}"
            },
            {
              "name": "p_usa_insulina",
              "value": "={{ $('Webhook Validar Token').item.json.body.usa_insulina }}"
            },
            {
              "name": "p_medicamentos",
              "value": "={{ $('Webhook Validar Token').item.json.body.medicamentos }}"
            }
          ]
        }
      },
      "id": "supabase-update-user",
      "name": "Supabase - Actualizar Usuario",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [850, 200],
      "credentials": {
        "supabaseApi": {
          "id": "YOUR_SUPABASE_CREDENTIAL_ID",
          "name": "Supabase Nutridiab"
        }
      }
    },
    {
      "parameters": {
        "operation": "rpc",
        "functionName": "rpc_usar_token",
        "parameters": {
          "parameters": [
            {
              "name": "p_token",
              "value": "={{ $('Webhook Validar Token').item.json.body.token }}"
            }
          ]
        }
      },
      "id": "supabase-use-token",
      "name": "Supabase - Marcar Token Usado",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1050, 200],
      "credentials": {
        "supabaseApi": {
          "id": "YOUR_SUPABASE_CREDENTIAL_ID",
          "name": "Supabase Nutridiab"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return {\n  success: true,\n  message: 'Datos guardados exitosamente',\n  usuario: $('Supabase - Actualizar Usuario').first().json\n};"
      },
      "id": "code-success-response",
      "name": "Respuesta Éxito",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "jsCode": "return {\n  success: false,\n  error: 'Token inválido o expirado'\n};"
      },
      "id": "code-error-response",
      "name": "Respuesta Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "respond-success",
      "name": "Responder Éxito",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1450, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "respond-error",
      "name": "Responder Error",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1050, 400]
    }
  ],
  "connections": {
    "Webhook Validar Token": {
      "main": [
        [
          {
            "node": "Supabase - Validar Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Validar Token": {
      "main": [
        [
          {
            "node": "¿Token válido?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Token válido?": {
      "main": [
        [
          {
            "node": "Supabase - Actualizar Usuario",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respuesta Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Actualizar Usuario": {
      "main": [
        [
          {
            "node": "Supabase - Marcar Token Usado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Marcar Token Usado": {
      "main": [
        [
          {
            "node": "Respuesta Éxito",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respuesta Éxito": {
      "main": [
        [
          {
            "node": "Responder Éxito",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respuesta Error": {
      "main": [
        [
          {
            "node": "Responder Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-22T00:00:00.000Z",
  "versionId": "2"
}

