n8n/workflows/supabase-admin-stats.json
{
  "name": "Nutridiab - Admin Stats (Supabase)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "nutridiab/admin/stats",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-stats",
      "name": "Webhook Stats",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "rpc",
        "functionName": "rpc_dashboard_stats",
        "parameters": {}
      },
      "id": "supabase-stats",
      "name": "Supabase - Dashboard Stats",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [450, 300],
      "credentials": {
        "supabaseApi": {
          "id": "YOUR_SUPABASE_CREDENTIAL_ID",
          "name": "Supabase Nutridiab"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "respond",
      "name": "Responder",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Webhook Stats": {
      "main": [
        [
          {
            "node": "Supabase - Dashboard Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Dashboard Stats": {
      "main": [
        [
          {
            "node": "Responder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-22T00:00:00.000Z",
  "versionId": "2"
}

