n8n/workflows/supabase-admin-consultas.json
{
  "name": "Nutridiab - Admin Consultas (Supabase)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "nutridiab/admin/consultas",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-consultas",
      "name": "Webhook Consultas",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "rpc",
        "functionName": "rpc_consultas_recientes",
        "parameters": {
          "parameters": [
            {
              "name": "p_limit",
              "value": "={{ $json.query.limit || 50 }}"
            }
          ]
        }
      },
      "id": "supabase-consultas",
      "name": "Supabase - Consultas Recientes",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [450, 300],
      "credentials": {
        "supabaseApi": {
          "id": "YOUR_SUPABASE_CREDENTIAL_ID",
          "name": "Supabase Nutridiab"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "respond",
      "name": "Responder",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Webhook Consultas": {
      "main": [
        [
          {
            "node": "Supabase - Consultas Recientes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase - Consultas Recientes": {
      "main": [
        [
          {
            "node": "Responder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-22T00:00:00.000Z",
  "versionId": "2"
}

